<!DOCTYPE html>
<html ng-app="Angello">
    <head>
        <meta charset="utf-8">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="app.js"></script>
        <link type="text/css" rel="stylesheet" href="app.css" media="all" />
    </head>
    <body>
      <div ng-controller="MainCtrl">

        <div class="span4 sidebar-content">
          <h2>Stories</h2>
          <div class="story" ng-repeat="story in stories" ng-click="setCurrentStory(story)">
            <h4>{{ story.title }}</h4>
            <p>{{ story.description }}</p>
          </div>
        </div>

        <p><button ng-click="consoleLog()">Test button</button></p>

        <div class="span6 body-content">
          <h2>Story</h2>
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputTitle">Title</label>
              <div class="controls">
                <input type="text" placeholder="Title" ng-model="currentStory.title">
              </div>
              </div>
            <div class="control-group">
              <label class="control-label" for="inputDescription">Description</label>
              <div class="controls">
                <textarea id="inputDescription" placeholder="Description" rows="3" ng-model="currentStory.description"></textarea>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputReporter">Reporter</label>
              <div class="controls">
                <input type="text" id="inputReporter" placeholder="Reporter" ng-model="currentStory.reporter">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputAssignee">Assignee</label>
              <div class="controls">
                <input type="text" id="inputAssignee" placeholder="Assignee" ng-model="currentStory.assignee">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputStatus">Status</label>
              <div class="controls">
                <select id="inputStatus"
                  ng-model="currentStatus"
                  ng-options="s.name for s in statuses"></select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputType">Type</label>
              <div class="controls">
                <select id="inputType"
                  ng-model="currentType"
                  ng-options="t.name for t in types"></select>
              </div>
            </div>

          </form>
          <p class="clear"><a ng-click="createStory()">Create story</a></p>
          <p class="clear"><a ng-click="createStoryWithData(currentStory)">Create story with model data</a></p>
          </div>

      </div>


<p class="footer">This is being served by <a href="https://www.npmjs.org/package/http-server">http-server</a> (installed globally)</p>
</body>
</html>
