<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/main.css">
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="src/filters.js"></script>
        <script src="src/app.module.js"></script>
        <script src="src/storyModelService.js"></script>
        <script src="src/storyDirective.js"></script>
        <script src="src/helperFactory.js"></script>
        <script src="src/clientId.js"></script>
        <script src="src/panelController.js"></script>
    </head>

    <body ng-app="app">

      <h1>Index Styleguide</h1>

      <div ng-controller="PanelController as vm">
        <h2>Letter via PanelController here: {{ vm.promoCode }}</h2>
        <p>Using a filter for {{ 'a word' | myFilter }}</p>

        <p><input ng-model="person.name" type="text" /></p>
        <p>person.name from input above (unrelated to PanelController): {{ person.name }}</p>

        <div style="border: 3px solid purple; padding: 10px;">
          <form name="form" novalidate>
            <label name="email">Your email</label>
            <input type="email" name="email" ng-model="email" placeholder="Email Address" required ng-pattern="/^a.*t$/" />
            <button type="submit" ng-disabled="form.$invalid">Submit</button>
          </form>
          <p>form.email.$pristine {{ form.email.$pristine }}</p>
          <p>form.email.$dirty {{ form.email.$dirty }}</p>
          <p>form.email.$valid {{ form.email.$valid }}</p>
          <p>form.email.$invalid {{ form.email.$invalid }}</p>
          <p>form.email.$error {{ form.email.$error }}</p>
        </div>

        <p>vm.clock.now {{ vm.clock.now }} (see comment in panelController.js)</p>

        <p>Sum coming from factory is {{ vm.sum }}</p>
        <p>Multiplication coming from factory is {{ vm.multiplication }}</p>

        <h2>Stories</h2>
        <div class="callout"
          ng-repeat="story in vm.stories"
          ng-click="vm.setCurrentStory(story)">
            <h4>{{ story.title }}</h4>
            <p>{{ story.description }}</p>
        </div>

        <h2>Stories, again</h2>
        <div class="callout"
          ng-repeat="story in vm.stories"
          ng-click="vm.logCurrentStory(story)">
            <h4>{{ story.title }}</h4>
            <p>{{ story.description }}</p>
        </div>

        <h2>Stories with directive</h2>
        <story-directive class="callout"
          ng-repeat="story in vm.stories"
          ng-click="vm.setCurrentStory(story)">
        </story-directive>

        <p>
          <a href="#" ng-click="vm.createStory()">Create story</a>
        </p>

      </div>

    </body>

</html>
