<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/main.css">
        <script src="../node_modules/angular/angular.min.js"></script>
        <script src="../node_modules/angular-route/angular-route.min.js"></script>
        <script src="src/locationFactory.js"></script>
        <script src="src/dashboardController.js"></script>
        <script src="src/homeController.js"></script>
        <script src="src/loginController.js"></script>
        <script src="src/storyModelService.js"></script>
        <script src="src/simpleFactory.js"></script>
        <script src="src/panelController.js"></script>
        <script src="src/helperFactory.js"></script>
        <script src="src/app.module.js"></script>
        <script src="src/clientId.js"></script>
    </head>

    <body ng-app="app">

      <h1>Routes and Views</h1>

      <header>
        <h1>Header</h1>
      </header>
      <div class="content">
        <div ng-view></div>
      </div>
      <footer>
        <h5>Footer</h5>
        <a href="#/">home</a>
        <a href="#/login/alexis?id=5">login</a>
        <a href="#/dashboard">dashboard</a>
      </footer>

      <div ng-controller="PanelController as vm">

        <p>Multiplication from factory is {{ vm.multiplication }}</p>
        <p>Hi to Oscar: {{ vm.sayHi('Oscar') }}</p>

        <button ng-click="vm.getUserData()">Call $http</button>

        <h2>Stories</h2>
        <div class="callout"
          ng-repeat="story in vm.stories"
          ng-click="vm.logCurrentStory(story)">
            <h4>{{ story.title }}</h4>
            <p>{{ story.description }}</p>
        </div>

        <p>
          <a href="#" ng-click="vm.createStory()">Create story</a>
        </p>

      </div>

    </body>

</html>
