<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="src/app.js"></script>
    </head>
    <body>
      <h1>File to test Angular.js while watching and reloading with Grunt</h1>

      <div class="container" ng-init="customers=[{name: 'Dave Michaels', city: 'Phoenix'}, {name: 'Mike Smith', city: 'New York'}, {name: 'Jane Doe', city: 'San Francisco'}]">
        Name: <input type="text" ng-model="name" /> {{ name }}
      </div>
      
      <ul>
        <li ng-repeat="cust in customers | filter: name | orderBy:'city'">{{ $index + 1 }}: {{ cust.name }} - {{ cust.city | uppercase }}</li>
      </ul>

      <p>This is being served by <a href="https://www.npmjs.org/package/http-server">http-server</a> (installed globally)</p>

    </body>
</html>
