<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="src/controllers.js"></script>
    </head>

    <body ng-app="myApp">

      <h1>Controller test</h1>

      <my-directive /></my-directive>

      <div ng-controller="DashboardController">
        <h2>Number via DashboardController: {{ number }}</h2>
      </div>

      <div ng-controller="PanelController as panel">
        <h2>Letter via PanelController: {{ panel.promoCode }}</h2>
      </div>

      <div ng-controller="MyController">
        <h2>Not using controller-as syntax so we refer to color property of $scope directly.</h2>
        <p>The color is a <strong>{{ color }}</strong></p>
        <p>{{ person }}</p>
        <p><strong>{{ person.name }}</strong> is <strong>{{ person.age | number:2 }}</strong> years old.</p>

        <div style="margin: 10px; border: 2px solid red; padding: 5px;">
          <div my-other-directive my-url="'http://www.yahoo.com'" my-link-text="'Go to Yahoo'"></div>
        </div>

        <div style="margin: 10px; border: 2px solid green; padding: 5px;">
          <div my-second-directive my-url="http://www.bing.com" my-link-text="Go to Bing"></div>
        </div>

        <div style="margin: 10px; border: 2px solid orange; padding: 5px;">
          <div controller-directive></div>
        </div>

        <div>
          <input ng-model="expr" type="text" placeholder="Enter an expression" />
          <p>parsedValue: {{ parsedValue }}</p>
        </div>

        <div id="emailEditor">
          <input ng-model="to" type="email" placeholder="recipient" />
          <textarea ng-model="emailBody"></textarea>
        </div>
        <div id="emailPreview">
          <pre>{{ previewText }}</pre>
        </div>

        <hr />
        <button ng-click="add(1)">add</button>
        <button ng-click="substract(1)">Substract</button>
        <h4>Current count: {{ counter }}</h4>
        <hr />

      </div>

      <div ng-controller="DemoController as demo">
        <h2>Need to use demo.clientId because of the controller-as syntax.</h2>
        <p>The clientId defined by a value recipe is <strong>{{ demo.clientId }}</strong></p>
        <p>The greeting is <strong>{{ demo.greetings('goodbye') }}</strong></p>
      </div>

      <div ng-controller="ParentController">
        Parent: {{ person }}
        <div ng-controller="ChildController">
          Child: {{ person }}
        </div>
      </div>

      <div ng-controller="ChildController">
        Child: {{ person }}
      </div>

    </body>

</html>
