<!DOCTYPE html>
<html ng-app="controllerExample">
    <head>
        <meta charset="utf-8">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="src/two.js"></script>
    </head>
    <body>
      <h1>Test Angular.js while watching and reloading with Grunt</h1>

      <div class="container" ng-controller="SimpleController">
        Name: <input type="text" ng-model="name" /> {{ name }}
      
        <ul>
          <li ng-repeat="cust in customers | filter: name | orderBy:'city'">{{ $index + 1 }}: {{ cust.name }} - {{ cust.city | uppercase }}</li>
        </ul>
        <h2>color: {{ color }}</h2>
      </div>


      <p>This is being served by <a href="https://www.npmjs.org/package/http-server">http-server</a> (installed globally)</p>

    </body>
</html>
