$color-leaderboard-bg: #efeff0;
$color-pro-bg: #bfbfbf;
$color-regular-bg: #fff;
$color-sponsored-border: #b3b3b3;
$color-input-text: #9a9a9a;
$color-label: #787878;
$color-submit-button: #979698;
$color-hot-topics: #6b6b6b;
$color-label-italic: #818181;
$color-around-web: #565656;
$color-section-nav: #5a5d60;
$color-vertical: #414042;
$color-capital-pro-bg: #ebe9e9;
$color-stories-rule: #c6c6c6;
$color-vertical-hover: #db4111;
$color-vertical-active: $color-vertical-hover;
$color-rule-1: #b7b7b7;
$color-rule-2: #b1b1b2;
$color-headline: #000;
$color-dek: #cd3101;
$color-byline: #404040;
$color-datetime: #555;
$color-settings-section: #016e9c;
$color-settings-background: #f4f4f6;
$color-settings-background-dark: #e4e5e5;
$color-settings-rule: #a7a7a7;
$color-comment-count: $color-vertical-hover;
$color-body-text: #2b2b2b;
$color-body-link: #1287b8;
$color-body-link-hover: $color-vertical-hover;
$color-promo-title: $color-vertical-hover;
$color-promo-more: $color-headline;
$color-promo-bullet-headline: $color-headline;
$color-promo-bullet: $color-vertical-hover;
$color-advertisement: #979797;
$color-credit: $color-advertisement;
$color-most-read-title: #fff;
$color-most-read-headline: $color-headline;
$color-most-read-numeral: $color-body-link;
$color-sponsor-heading: $color-body-link;
$color-sponsor-link: $color-headline;
$color-sponsor-name: #808081;
$color-pullquote: $color-vertical-hover;
$color-tags: $color-vertical-hover;
$color-author: $color-byline;
$color-author-name: $color-byline;
$color-follow-author: $color-vertical-hover;
$color-follow-text: #353535;
$color-more-section-name: $color-body-link;
$color-more-headline: $color-headline;
$color-more-headline-hover: $color-vertical-hover;
$color-more-rules: #cdcbcb;
$color-around-web-title: $color-vertical-hover;
$color-around-web-rules: $color-headline;
$color-around-web-headline: $color-headline;
$color-around-web-headline-hover: $color-vertical-hover;
$color-around-web-publication: #b4adad;
$color-comment-body: #4a4a4a;
$color-bg-sponsor-generated: #eff7fa;
